<h2>Employee Page</h2>

<h3>Tasks</h3>








<ul>
	<% @tasks.each do |task| %>
	<li>
	<div class="task_panel panel-group " id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          <%= task.name %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
	   		<div class="panel-body">
       			<p>Date: <%= task.date %> </p>
				<p>Description: <%= task.description %> </p>
				<p>Location: <%= task.location %> </p>
				<p>Deadline: <%= task.deadline %> </p>
      		</div>
	    </div>
	  </div>
	</div>
	</li>
	<% end %>
</ul>

<div class="checkbox">
  <label><input type="checkbox" value="">Option 1</label>
</div>