<div class="container">
	
<h2 class="admin_header"> Admin Page </h2>

<div class="container manage_users">
	<h2>Manage Users</h2>
	<% ["admin", "employee", "subcontractor"].each do |role| %>
		<h2> <%= role.capitalize %> </h2>
		<% @users.each do |user| %>
			<% if user.role == role %>
				<%= link_to user.name, employee_path(user) %> | 
				<%= link_to "Delete", admin_path(user), method: "delete" %> | 
				<%= link_to "Edit", edit_admin_path(user), method: "get" %> 
				<br />
			<% end %>
		<%end%>
	<% end %>

	<br/>
	<%= link_to "Create New User", new_admin_path %>
</div>

<div class="container manage_jobs">
	<h2> Manage Jobs </h2>
		<% @jobs.each do |job| %>
		<%= link_to job.name, job_path(job) %> | 
		<%= link_to "Delete", job_path(job), method: "delete" %> | 
		<%= link_to "Edit", edit_job_path(job), method: "get" %> |
		<br/>
		<%end%>
	<br>
	<%= link_to "Create a New Job", new_job_path %>
</div>
	
</div>
		








