<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="admin_header"> Admin Page </h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="container manage-users">
				<h2 class="manage-users-header">Manage Users</h2>
				<% ["admin", "employee", "subcontractor"].each do |role| %>
				<h2 class="manage-user-roles"> <%= role.capitalize %> </h2>

				<% @users.each do |user| %>
				<% if user.role == role %>

				<span><%= link_to user.name, employee_path(user) %> </span>	

				
				<span class="admin-edit-user">
					<%= button_to("Edit", edit_admin_path(user), :class => 'btn btn-info btn-sm', method: "get") %>
				</span>
				<span class="admin-delete-user">
					<%= button_to("Delete", admin_path(user), :class => 'btn btn-info btn-sm', method: "delete") %> 
				</span>
					
				
				<br />
				<% end %>
				<%end%>
				<% end %>
				<br/>
				<%= link_to "Create New User", new_admin_path %>
			</div>
		</div>
		
		
		<div class="col-md-6">
			<div class="container manage-jobs">
				<h2 class="manage-jobs-header"> Manage Jobs </h2>
				<% @jobs.each do |job| %>
				<%= link_to job.name, job_path(job) %> 
				<span class="admin-edit-user">
					<%= button_to("Edit", edit_job_path(job), :class => 'btn btn-info-edit btn-sm edit', method: "get") %>
				</span>
				<span class="admin-delete-user">
					<%= button_to("Delete", job_path(job), :class => 'btn btn-info btn-sm delete', method: "delete") %> 
				</span>



				<br/>
				<%end%>
				<br>
				<%= link_to "Create a New Job", new_job_path %>
			</div>
		</div>
	</div>
</div>



				