<div class="container">

	<h2> Welcome, </h2>
		<%= @user.name %>

	<h2> Current jobsites:</h2>
		<% @jobs.each do |job| %>
			<%= job.name %>

	<h3>Jobs Tasks<h3>
		<% job.tasks.each do |task| %>
		 	<%= task.name %> </br>
		 	<%= task.description %> </br>
			<%= task.deadline %> </br>
		<% end %> 
	 	<% end %> 	
</div>	

		

	

	