<div class="container">
  <div class="row">
    <div class="col-md-12 edit_job">
      <br>
      <br>
      <br>
      <div class="container">
        <h2> Edit <%= @task.name %> </h2>
        <%= form_for(@task, url: task_path(@task)) do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :date %><br />
          <%= f.date_field :date %>
        </div>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :location %><br />
          <%= f.text_field :location %>
        </div>
        <div class="field">
          <%= f.label :deadline %><br />
          <%= f.date_field :deadline %>
        </div>
        <div class="field">
          <%= f.label :employees %><br />
        </div>
          
        <%= f.select :users, options_for_select(@user_array), {}, {:multiple => true} %>
        
        <div class="actions">
          <%= f.submit "Edit Task" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
$('#task_users').multiSelect({ keepOrder: true });
</script>
