<div class="container">
	<h2> Task details page </h2>

	<h3> <%= @task.name %> </h3>

	<ul>
		<li> Date: <%= @task.date %> </li>
		<li> Location: <%= @task.location %> </li>
		<li> Description: <%= @task.description %> </li>
		<li> Deadline: <%= @task.deadline %> </li>
	</ul>
</div>