<div class="container">
  <h2> Edit <%= @job.name %> </h2>
  <%= form_for(@job, url: task_path(@job)) do |f| %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :date %><br />
      <%= f.date_field :date %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </div>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>


