<div class="container">
	<h2> Job details page </h2>

	<h3> <%= @job.name %> </h3>

	<ul>
		<li> Date: <%= @job.date %></li>
		<li> Location: <%= @job.location %> </li>
		<li> Description: <%= @job.description %> </li>
		

		<% @job.users.each do |user| %>
			<li> Employee: <%= user.name %> </li>	
		<% end %>
	</ul>

	<h3>Job Tasks</h3>
	<ul>
		<% @tasks.each do |task| %>
			<li>Name: <%= task.name %>  
			<li>Date: <%= task.date %> </li>
			<li>Description: <%= task.description %> </li>
			<li>Location: <%= task.location %> </li>
			<li>Deadline: <%= task.deadline %> </li>

			<li>
				Employees:
				<% task.users.each do |user| %>
					 <%= user.name %>,
				<% end %>
			</li>	

			<%= link_to "Edit", edit_task_path(task), method: "get" %> |						
			<%= link_to "Delete", task_path(task), method: "delete" %> |  	
			</br>
			</br>
		<% end %>
	</ul>

	  
	<form method="get" action="/tasks/new">
	  <input type="hidden" name="job_id" value="<%= @job.id%>"> <br>
	  <button>Create New Task</button>
	</form>
	
</div>


		

