<!DOCTYPE html>
<html>
  <head>
    <title>Halcyon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--     <script src="/assets/jquery.multi-select.js" type="text/javascript" ></script> 
 -->  </head>

  <body>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation" class="<%= 'active' if current_page?(controller: '/admins', action: 'index') %>">
        <a href="/admins"> Home </a>
      </li>
      <li role="presentation" class="<%= 'active' if current_page?(controller: '/admins', action: 'list') %>">
        <a href="/admins/users"> Users </a>
      </li>
      <li role="presentation" class="<%= 'active' if current_page?(controller: '/jobs', action: 'index') %>">
        <a href="/jobs"> Jobs </a>
      </li>  
      <% if user_signed_in? %>
      <li role="presentation" id="logout">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
      <% end %>  
    </ul>
  
  </nav>
    
    

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
